@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

header {
  background-image: linear-gradient(to left, #4037aa, #6f64e6, #258ad8);
  padding: 1rem 2rem;
  color: #f5f5f3;
  border-bottom: 4px solid #a62896;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  transition: all 0.3s ease;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 190px;
  transition: all 0.3s ease;
}

header h2 {
  margin: 0;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}
header p {
  margin: 0.2rem 0 0;
  font-size: 1rem;
  transition: all 0.3s ease;
}

nav {
  display: flex;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: -50px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1rem;
  transition: color 0.3s ease;
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}
nav a:hover {
  transform: scale(1.1);
  color: #01f1ed;
}
